source https://www.nuget.org/api/v2

nuget FAKE
nuget FSharp.Management
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FluentAssertions

//IKVM dependencies - the nuget and tool versions need to be in sync.
http https://github.com/ahaenggli/ikvm/releases/download/v8.5.0.3-draft/IKVM.REVIVED.8.5.0.3.nupkg
http https://github.com/ahaenggli/ikvm/releases/download/v8.5.0.3-draft/ikvm_v8.5.0.3.zip

source ./paket-files
nuget IKVM.REVIVED 8.5.0.3

//Tika release Jar URL
http https://archive.apache.org/dist/tika/tika-app-1.23.jar
